@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl,
code {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  margin: 0;
  padding: 0;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: "mplus+1m";
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: "mplus+1m";
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  appearance: checkbox;
}

[type="radio"] {
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

:root {
  --primary-fontcolor: #3C2A10;
  --secondry-fontcolor: #fff;
  --third-fontcolor: #707070;
  --sub-fontcolor: red;
  --card-bg: #3C2B1C;
  --sidebar-bg: #F2EDE9;
  --header-bg: #FFF7EF;
  --footer-bg: #9D8670;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  width: 100%;
  height: 100%;
  color: var(--primary-fontcolor);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "mplus+1m", "Roboto", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFDFA;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  /*画像の下の余白を削除*/
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.l-header {
  width: 100%;
  height: 217px;
}

.l-main {
  width: 100%;
}

.l-main__wrapper {
  margin: 20px 20px 50px;
}

@media screen and (min-width: 600px) {
  .l-main__wrapper {
    margin: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .l-main__wrapper {
    margin: 60px 100px;
  }
}

.l-main__wrapper--special {
  margin: 20px 20px 50px;
}

@media screen and (min-width: 600px) {
  .l-main__wrapper--special {
    margin: 60px;
  }
}

@media screen and (min-width: 1025px) {
  .l-main__wrapper--special {
    margin: 60px 100px;
  }
}

.l-sidebar {
  position: fixed;
  top: 0px;
  right: -350px;
  background-color: var(--sidebar-bg);
  z-index: 1000;
  height: 100vh;
  overflow: auto;
  transition: .6s;
}

@media screen and (min-width: 1025px) {
  .l-sidebar {
    position: static;
    height: auto;
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #F2EDE9;
    min-width: 367px;
  }
}

.l-sidebar.on-menu {
  right: 0px;
}

.l-footer {
  width: 100%;
  height: 150px;
}

@media screen and (min-width: 1025px) {
  .l-footer {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

/*Component-----------------------*/
.c-toggle {
  position: relative;
  color: var(--third-fontcolor);
}

.c-toggle--btn {
  position: absolute;
  top: 82px;
  left: 46px;
  font-size: 2.125rem;
  z-index: 1000;
  visibility: hidden;
}

@media screen and (min-width: 1025px) {
  .c-toggle--btn {
    visibility: visible;
  }
}

.c-toggle--line {
  display: block;
  position: absolute;
  top: 5px;
  left: 240px;
  width: 40px;
  height: 40px;
  visibility: hidden;
  transition-duration: .3s;
}

@media screen and (min-width: 1025px) {
  .c-toggle--line {
    display: none;
  }
}

.c-toggle--line::after, .c-toggle--line::before {
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: var(--third-fontcolor);
}

.c-toggle--line::before {
  top: 10px;
  transform: translateY(10px) rotate(45deg);
}

.c-toggle--line::after {
  top: 25px;
  transform: translateY(-5px) rotate(-45deg);
}

.c-toggle--line.active {
  visibility: visible;
}

.c-toggle--line.active.c-toggle--line::before {
  visibility: visible;
}

.c-toggle--line.active.c-toggle--line::after {
  visibility: visible;
}

.c-container {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .c-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 150px;
  }
  .c-container__main {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.c-layer {
  width: 100%;
}

.c-layer.cover {
  position: fixed;
  z-index: 900;
}

.c-layer::after {
  /* 透過したグレーを重ねる */
  background-color: #707070;
  opacity: 0.7;
  /* どの範囲に重ねるかを指定 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
  visibility: hidden;
}

@media screen and (min-width: 1025px) {
  .c-layer::after {
    position: static;
  }
}

.c-layer.cover::after {
  visibility: visible;
}

.c-pagenation__arrow-pre {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin: 5px 15px;
}

.c-pagenation__arrow-pre::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 0px;
  border-top: solid 2px var(--third-fontcolor);
  border-right: solid 2px var(--third-fontcolor);
  transform: rotate(225deg);
  position: absolute;
  top: 25%;
  left: 0;
}

.c-pagenation__arrow-pre::after {
  content: '';
  width: 12px;
  height: 12px;
  border: 0px;
  border-top: solid 2px var(--third-fontcolor);
  border-right: solid 2px var(--third-fontcolor);
  transform: rotate(225deg);
  position: absolute;
  top: 25%;
  left: 8px;
}

.c-pagenation__arrow-next {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin: 5px 15px;
}

.c-pagenation__arrow-next::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 0px;
  border-top: solid 2px var(--third-fontcolor);
  border-right: solid 2px var(--third-fontcolor);
  transform: rotate(45deg);
  position: absolute;
  top: 25%;
  left: 0;
}

.c-pagenation__arrow-next::after {
  content: '';
  width: 12px;
  height: 12px;
  border: 0px;
  border-top: solid 2px var(--third-fontcolor);
  border-right: solid 2px var(--third-fontcolor);
  transform: rotate(45deg);
  position: absolute;
  top: 25%;
  left: 8px;
}

.c-pagenation {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 600px) {
  .c-pagenation {
    margin-top: 105px;
  }
}

@media screen and (min-width: 1025px) {
  .c-pagenation {
    margin-top: 150px;
    margin-bottom: 65px;
  }
}

.c-pagenation__list {
  justify-content: space-between;
  color: var(--third-fontcolor);
  line-height: 16px;
}

@media screen and (min-width: 600px) {
  .c-pagenation__list {
    justify-content: center;
  }
}

.c-pagenation__top {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: bold;
  display: none;
}

@media screen and (min-width: 600px) {
  .c-pagenation__top {
    display: block;
    line-height: 2.3;
  }
}

.c-pagenation__number {
  font-size: 1rem;
  display: none;
}

@media screen and (min-width: 600px) {
  .c-pagenation__number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #707070;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    font-family: 'Roboto';
    font-weight: bold;
  }
  .c-pagenation__number:nth-child(11) {
    margin-right: 0;
  }
  .c-pagenation__number > a {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
  }
}

.c-pagenation__text {
  font-size: 1rem;
  display: block;
  padding: 5px;
}

@media screen and (min-width: 600px) {
  .c-pagenation__text {
    display: none;
  }
}

.c-pagenation__arrow-next > .c-pagenation__text {
  position: absolute;
  width: 45px;
  right: 10px;
}

.wp-pagenavi {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .wp-pagenavi {
    justify-content: center;
  }
}

.wp-pagenavi a {
  padding: 3px 8px;
  margin: 10px;
}

.wp-pagenavi span.current {
  background-color: #3c2a10;
  color: #fff;
  padding: 3px 8px;
  margin: 10px;
}

.wp-pagenavi span.pages {
  padding: 12px 5px;
  border: none;
  display: none;
}

@media screen and (min-width: 600px) {
  .wp-pagenavi span.pages {
    display: block;
  }
}

.wp-pagenavi a.previouspostslink {
  border: none;
  font-size: 35px;
}

.wp-pagenavi a.previouspostslink::after {
  position: absolute;
  content: '前へ';
  font-size: 20px;
  padding-left: 15px;
}

@media screen and (min-width: 600px) {
  .wp-pagenavi a.previouspostslink::after {
    display: none;
  }
}

.wp-pagenavi a.nextpostslink {
  border: none;
  font-size: 35px;
  position: absolute;
  right: 5px;
}

.wp-pagenavi a.nextpostslink::before {
  content: '後へ';
  font-size: 20px;
  vertical-align: top;
  padding-right: 13px;
}

@media screen and (min-width: 600px) {
  .wp-pagenavi a.nextpostslink::before {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .wp-pagenavi a.nextpostslink {
    position: static;
    right: 0;
  }
}

.wp-pagenavi a.smaller {
  display: none;
}

@media screen and (min-width: 600px) {
  .wp-pagenavi a.smaller {
    display: block;
  }
}

.wp-pagenavi a.larger {
  display: none;
}

@media screen and (min-width: 600px) {
  .wp-pagenavi a.larger {
    display: block;
  }
}

.wp-pagenavi span.current {
  display: none;
}

@media screen and (min-width: 600px) {
  .wp-pagenavi span.current {
    display: block;
  }
}

.c-table {
  margin-top: 30px;
  margin-bottom: 30px;
}

.c-table > table {
  width: 100%;
  height: 305px;
  border-collapse: collapse;
  /* tr、tdなどの隣接するセルの隙間をなくす */
}

.c-table > tr, .c-table td {
  border: 1px solid;
  /* 枠線をつける */
  vertical-align: middle;
  padding-left: 30px;
  white-space: nowrap;
}

.c-table > table > tr {
  height: 77px;
}

.c-btn {
  display: block;
  text-align: center;
  font-family: "mplus+1m";
  font-weight: bold;
  color: var(--third-fontcolor);
}

.c-btn--sp {
  font-family: 'Roboto';
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .c-btn--sp {
    font-size: 2.125rem;
  }
}

.c-btn--search {
  border-radius: 10px;
  border: 1px solid #707070;
  background-color: #F2EDE9;
  min-width: 78px;
}

.c-btn--primary {
  font-weight: bold;
  height: 81px;
  width: 100%;
  max-width: 429px;
  border-radius: 20px;
  color: var(--primary-fontcolor);
  border: 1px solid #707070;
  background-color: #F2EDE9;
  margin-bottom: 30px;
}

.c-samplecode {
  background-color: #F5F5F5;
  padding: 50px;
}

.c-samplecode > pre > code {
  display: block;
  line-height: 1.4;
}

.c-list {
  margin: 30px 0;
}

.c-list__wrapper:first-of-type {
  margin-bottom: 60px;
}

.c-list__item {
  margin: 20px 0;
}

.c-list__middle {
  margin-left: 18px;
}

/*Project-------------------------*/
@media screen and (min-width: 600px) {
  .p-branchmenu {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1025px) {
  .p-branchmenu {
    display: grid;
    gap: 80px;
    margin: 120px 110px 130px;
  }
}

.p-branchmenu__head {
  white-space: nowrap;
  font-size: 2.5625rem;
  color: var(--secondry-fontcolor);
  font-family: "Roboto";
}

@media screen and (min-width: 600px) {
  .p-branchmenu__head {
    font-size: 2.75rem;
  }
}

@media screen and (min-width: 1025px) {
  .p-branchmenu__head {
    font-size: 3.75rem;
  }
}

.p-branchmenu__head > a {
  display: block;
  padding: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.p-branchmenu__head > a::after {
  display: block;
  content: "";
  border: solid 2px;
  width: 33px;
  background: var(--secondry-fontcolor);
  margin-top: 20px;
}

@media screen and (min-width: 600px) {
  .p-branchmenu__head > a::after {
    width: 36px;
  }
}

@media screen and (min-width: 1025px) {
  .p-branchmenu__head > a::after {
    width: 63px;
    margin-top: 34px;
  }
}

.p-branchmenu__list {
  padding: 290px 10px 10px;
}

@media screen and (min-width: 600px) {
  .p-branchmenu__list {
    padding: 305px 10px 10px;
  }
}

@media screen and (min-width: 1025px) {
  .p-branchmenu__list {
    padding: 785px 20px 20px;
  }
}

.p-branchmenu__item {
  background-color: #fff;
  opacity: .8;
  margin-top: 10px;
}

@media screen and (min-width: 1025px) {
  .p-branchmenu__item {
    margin-top: 20px;
  }
}

.p-branchmenu__item > dl {
  color: var(--primary-fontcolor);
  padding: 20px 10px;
}

@media screen and (min-width: 1025px) {
  .p-branchmenu__item > dl {
    padding: 20px;
  }
}

.p-branchmenu__item > dl > dt {
  font-size: 22px;
}

@media screen and (min-width: 600px) {
  .p-branchmenu__item > dl > dt {
    font-size: 24px;
  }
}

.p-branchmenu__item > dl > dd {
  font-size: 16px;
  font-weight: normal;
  padding-top: 20px;
}

@media screen and (min-width: 1025px) {
  .p-branchmenu__item > dl > dd {
    padding-top: 25px;
  }
}

.p-branchmenu--takeout {
  width: 100%;
  background-image: url(../img/takeout.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
}

@media screen and (min-width: 600px) {
  .p-branchmenu--takeout {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1025px) {
  .p-branchmenu--takeout {
    min-width: 350px;
  }
}

.p-branchmenu--eatin {
  width: 100%;
  background-image: url(../img/eatin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (min-width: 1025px) {
  .p-branchmenu--eatin {
    min-width: 350px;
  }
}

.p-header {
  position: relative;
  background-color: var(--header-bg);
}

.p-header__btn {
  color: var(--third-fontcolor);
  position: absolute;
  top: 14px;
  right: 16px;
}

@media screen and (min-width: 600px) {
  .p-header__btn {
    top: 18px;
    right: 26px;
  }
}

@media screen and (min-width: 1025px) {
  .p-header__btn {
    visibility: hidden;
  }
}

.p-header__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

@media screen and (min-width: 1025px) {
  .p-header__wrap {
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0;
    padding-left: 60px;
    margin-right: 10px;
  }
}

.p-header__title {
  color: var(--third-fontcolor);
  font-family: "Roboto";
  font-size: 2.5rem;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .p-header__title {
    font-size: 4rem;
  }
}

.p-header__title > a {
  font-size: 2.5rem;
  display: block;
}

@media screen and (min-width: 1025px) {
  .p-header__title > a {
    font-size: 4rem;
  }
}

.p-mainvisual {
  width: 100%;
  height: 285px;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1025px) {
  .p-mainvisual {
    height: 530px;
  }
}

.p-mainvisual__title {
  color: var(--secondry-fontcolor);
  font-family: "mplus+1m";
  font-size: 2.25rem;
  font-weight: bold;
  margin-left: 25px;
}

@media screen and (min-width: 1025px) {
  .p-mainvisual__title {
    font-size: 2.5rem;
    margin-left: 86px;
  }
}

.p-mainvisual > p {
  font-size: 1rem;
}

.p-mainvisual--archive {
  height: 283px;
  background-image: url(../img/takeout.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1025px) {
  .p-mainvisual--archive {
    height: 239px;
  }
}

.p-mainvisual--archive::after {
  content: "";
  /* ↓暗いオーバーレイを半透明で配置 */
  background-color: rgba(0, 0, 0, 0.2);
  /* ↓全体を覆うように配置 */
  position: absolute;
  width: 100%;
  height: inherit;
  display: block;
}

@media screen and (min-width: 1025px) {
  .p-mainvisual--archive::after {
    z-index: 1;
  }
}

.p-mainvisual__title--archive {
  color: var(--secondry-fontcolor);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 2.25rem;
  margin-left: 37px;
}

@media screen and (min-width: 600px) {
  .p-mainvisual__title--archive {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3.75rem;
    margin-left: 86px;
  }
}

.p-mainvisual__title--archive > p {
  font-family: "mplus+1m";
  font-size: 1rem;
  font-weight: bold;
  margin-top: 7px;
}

@media screen and (min-width: 600px) {
  .p-mainvisual__title--archive > p {
    margin-left: 20px;
  }
}

.p-mainvisual--single {
  height: 225px;
  width: auto;
  background-image: url(../img/cheeseburger.jpg);
  background-size: cover;
  object-position: center;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .p-mainvisual--single {
    height: 500px;
  }
}

.p-mainvisual--page {
  height: 225px;
  background-image: url(../img/shopphoto.jpg);
  background-size: cover;
  object-position: center;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .p-mainvisual--page {
    height: 500px;
  }
}

.p-mainvisual__title--single {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--secondry-fontcolor);
  margin-left: 26px;
}

@media screen and (min-width: 600px) {
  .p-mainvisual__title--single {
    font-size: 3.75rem;
    margin-left: 86px;
  }
}

.p-gnav {
  color: var(--third-fontcolor);
  margin-top: 160px;
}

.p-gnav__item > a {
  display: block;
  font-weight: bold;
  padding: 35px 40px;
  font-size: 1.5rem;
}

.p-gnav__subitem > a {
  display: block;
  color: var(--third-fontcolor);
  padding: 11px 66px;
  font-size: 1.25rem;
}

.p-gnav__list > li > a {
  display: block;
  font-weight: bold;
  padding: 35px 40px;
  font-size: 1.5rem;
}

.sub-menu > li > a {
  display: block;
  color: var(--third-fontcolor);
  padding: 11px 66px;
  font-size: 1.25rem;
}

.p-map {
  position: relative;
  display: flex;
}

.p-map__layer {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #666666;
  opacity: 0.6;
}

@media screen and (min-width: 600px) {
  .p-map__layer {
    height: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .p-map__layer {
    width: 70%;
  }
}

.p-map__wrap > iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center center;
  position: absolute;
  top: 0;
  filter: brightness(60%);
  /*地図の明るさを調整*/
}

.p-map__content {
  padding: 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*webkit系*/
  -moz-box-sizing: border-box;
  /*Firefox*/
  z-index: 200;
  color: var(--secondry-fontcolor);
}

@media screen and (min-width: 1025px) {
  .p-map__content {
    padding: 80px 120px;
  }
}

.p-map__head {
  font-size: 1.875rem;
  font-weight: bold;
}

@media screen and (min-width: 1025px) {
  .p-map__head {
    font-size: 2.25rem;
    width: 70%;
  }
}

.p-map__head::after {
  content: "";
  display: block;
  width: 75px;
  border: solid 1px;
  margin: 20px 0;
  background-color: #fff;
}

@media screen and (min-width: 1025px) {
  .p-map__head::after {
    margin: 50px 0 50px;
  }
}

.p-map__txt {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 2.3;
}

@media screen and (min-width: 1025px) {
  .p-map__txt {
    width: 70%;
    font-size: 1rem;
    line-height: 2.0;
  }
}

.p-footer {
  background-color: var(--footer-bg);
  color: var(--secondry-fontcolor);
  font-family: "M+1m";
  text-align: center;
}

.p-footer__menu {
  padding-top: 40px;
  padding-bottom: 35px;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
}

.p-footer__list:first-child::after {
  content: "";
  margin: 15px;
  border: solid 1px;
}

.p-footer__copyright {
  display: block;
  font-size: 0.875rem;
  padding-bottom: 30x;
}

.menu > ul {
  display: flex;
  padding-top: 40px;
  padding-bottom: 35px;
  font-size: 1.25rem;
  justify-content: center;
}

.page-item-5::after {
  content: "";
  margin: 15px;
  border: solid 1px;
  background-color: #fff;
}

.p-footer--404 {
  position: absolute;
  top: 100vh;
}

@media screen and (min-width: 1025px) {
  .p-footer--404 {
    position: static;
  }
}

.p-article {
  margin-top: 30px;
}

.p-article__title {
  font-size: 1.75rem;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .p-article__title {
    font-size: 2.25rem;
  }
}

.p-article__text {
  font-size: 1rem;
  margin: 30px 0 34px;
}

@media screen and (min-width: 600px) {
  .p-article__text {
    margin: 60px 0;
  }
}

.p-article__text--repeat {
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 177px;
  color: var(--primary-fontcolor);
}

@media screen and (min-width: 600px) {
  .p-article__text--repeat {
    margin-bottom: 228px;
  }
}

@media screen and (min-width: 1025px) {
  .p-article__text--repeat {
    margin-bottom: 353px;
  }
}

.p-article__blockquote {
  border: solid, #F7F7F7;
  background-color: #F7F7F7;
  padding: 30px 20px;
}

@media screen and (min-width: 600px) {
  .p-article__blockquote {
    padding: 50px;
  }
}

.p-article__blockquote-text {
  line-height: 1.4;
  margin-bottom: 30px;
}

.p-article__blockquote-link > a {
  color: #4A6C9B;
  display: inline-block;
  padding-left: 10px;
}

.p-article__blockquote-link > a:hover {
  color: red;
}

.p-article > h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .p-article > h3 {
    font-size: 1.75rem;
    margin-bottom: 60px;
  }
}

.p-article > h4, h5, h6 {
  font-size: 1.25rem;
  font-weight: bold;
}

.p-article > h4 {
  margin-bottom: 36px;
}

@media screen and (min-width: 600px) {
  .p-article > h4 {
    margin-bottom: 75px;
  }
}

.p-article > h5 {
  margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .p-article > h5 {
    margin-bottom: 60px;
  }
}

.p-article > h6 {
  margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .p-article > h6 {
    margin-bottom: 60px;
  }
}

.p-pictures--top {
  display: block;
  height: 130px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  height: 124px;
}

@media screen and (min-width: 600px) {
  .p-pictures--top {
    height: 264px;
  }
}

@media screen and (min-width: 1025px) {
  .p-pictures--top {
    height: 500px;
  }
}

.p-pictures--bottom {
  display: block;
  width: 267px;
  height: 166px;
  margin: 30px auto;
}

@media screen and (min-width: 600px) {
  .p-pictures--bottom {
    width: 581px;
    height: 358px;
    margin: 60px auto 240px;
  }
}

@media screen and (min-width: 1025px) {
  .p-pictures--bottom {
    margin: 60px auto;
  }
}

@media screen and (min-width: 600px) {
  .p-pictures__list {
    column-count: 2;
  }
}

@media screen and (min-width: 1025px) {
  .p-pictures__list {
    column-count: 3;
  }
}

.p-pictures__item {
  display: block;
  margin-bottom: 20px;
}

.p-pictures--flex {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

@media screen and (min-width: 600px) {
  .p-pictures--flex {
    margin: 60px auto;
  }
}

@media screen and (min-width: 1025px) {
  .p-pictures--flex {
    margin: 60px auto;
  }
}

@media screen and (min-width: 600px) {
  .p-pictures--flex:first-of-type {
    margin-bottom: 117px;
  }
}

@media screen and (min-width: 1025px) {
  .p-pictures--flex:first-of-type {
    margin-bottom: 0;
  }
}

.p-pictures--flex > img {
  display: block;
  width: 50%;
  height: 50%;
}

.p-pictures--flex > p {
  line-height: 1.4;
  width: 47%;
}

.p-search-form {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1025px) {
  .p-search-form {
    padding-right: 30px;
  }
}

.p-search-form__keyword {
  border: 1px solid #707070;
  border-radius: 10px;
  background-color: #fff;
  height: 45px;
  max-width: 230px;
  margin-right: 12px;
}

@media screen and (min-width: 600px) {
  .p-search-form__keyword {
    max-width: 396px;
  }
}

.p-search-form__submit {
  font-size: 1rem;
  height: 45px;
  width: 78px;
  line-height: 45px;
}

@media screen and (min-width: 600px) {
  .p-search-form__submit {
    max-width: 136px;
  }
}

.p-search-form__keyword.fas {
  font-size: 1.5rem;
  color: #808080;
  padding-left: 12px;
}

.p-card {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .p-card {
    flex-direction: row;
  }
}

@media screen and (min-width: 1025px) {
  .p-card {
    margin-bottom: 30px;
  }
}

.p-card__body {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  order: 2;
  color: var(--secondry-fontcolor);
  padding: 30px 17px 43px;
}

@media screen and (min-width: 600px) {
  .p-card__body {
    width: 50%;
    padding: 30px 35px 40px;
  }
}

@media screen and (min-width: 1025px) {
  .p-card__body {
    padding: 63px 53px 60px;
  }
}

.p-card__head {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 24px;
}

@media screen and (min-width: 600px) {
  .p-card__head {
    font-size: 1.3125rem;
  }
}

@media screen and (min-width: 1025px) {
  .p-card__head {
    font-size: 1.4375rem;
    margin-bottom: 47px;
  }
}

.p-card__subhead {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .p-card__subhead {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 1025px) {
  .p-card__subhead {
    font-size: 1.125rem;
    margin-bottom: 17px;
  }
}

.p-card__text {
  font-size: 0.875rem;
  margin-bottom: 40px;
}

@media screen and (min-width: 1025px) {
  .p-card__text {
    margin-bottom: 60px;
  }
}

.p-card__img {
  width: 100%;
  display: block;
  /* 余計な余白が出ないようにする */
  order: 1;
}

@media screen and (min-width: 600px) {
  .p-card__img {
    width: 50%;
  }
}

.p-card__btn {
  margin: auto;
  border-radius: 30px;
  padding: 10px 40px;
  background-color: #fff;
  min-width: 163px;
  font-size: 1rem;
  font-weight: bold;
}

@media screen and (min-width: 1025px) {
  .p-card__btn {
    width: 60%;
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.p-nf--404page {
  margin: 50px;
}

.p-nf--404page > h2 {
  color: #70ce72;
  font-size: 25px;
}

@media screen and (min-width: 600px) {
  .p-nf--404page > h2 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .p-nf--404page > h2 {
    font-size: 60px;
  }
}

.p-nf--404page__text {
  margin: 20px;
  font-size: 16px;
  font-family: 'Roboto';
  color: var(--card-bg);
}

@media screen and (min-width: 600px) {
  .p-nf--404page__text {
    font-size: 20px;
  }
}

.p-nf--404page__url {
  font-size: 14px;
  font-family: 'Roboto';
  color: var(--card-bg);
  margin-left: 20px;
}

@media screen and (min-width: 600px) {
  .p-nf--404page__url {
    font-size: 20px;
  }
}

.p-nf--404page__home {
  margin: 20px;
  font-size: 16px;
  font-family: 'Roboto';
  color: var(--card-bg);
}

.p-nf--404page__home > a {
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .p-nf--404page__home {
    font-size: 20px;
  }
}

/*Utility------------------------*/
/*# sourceMappingURL=style.css.map */