.p-mainvisual {
    width: 100%;
    height: 285px;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    @include mq(pc) {
        height: 530px
    }
    
    &__title {
    color: var(--secondry-fontcolor);
    font-family:  "mplus+1m";
    font-size: rem(36);
    font-weight: bold;
    margin-left: 25px;
    @include mq(pc) {
        font-size: rem(40);
        margin-left: 86px;
    }
    }
    & > p {
        font-size: rem(16);
    }
    
    
}

.p-mainvisual--archive {
    height: 283px;
    background-image: url(../img/takeout.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    @include mq(pc) {
        height: 239px;
    }   
    &::after {
        content: "";
        /* ↓暗いオーバーレイを半透明で配置 */
        background-color: rgba(0, 0, 0, 0.2);
        /* ↓全体を覆うように配置 */
        position: absolute;
        width: 100%;
        height: inherit;
        display: block;
        @include mq(pc) {
            z-index: 1;   //サイドバーに被らないように
        }
        }       
}
.p-mainvisual__title--archive {
    color: var(--secondry-fontcolor);
    font-family:  "Roboto";
    font-weight: bold;
    font-size: rem(36);
    margin-left: 37px;
    @include mq(tb) {
        display: flex;
        flex-direction: row;
        align-items: center; 
        font-size: rem(60);
        margin-left: 86px;
    }
    & > p {
        font-family:  "mplus+1m";
        font-size: rem(16);
        font-weight: bold;
        margin-top: 7px;
        @include mq(tb) {
            margin-left: 20px;
        }
    }
    
}

.p-mainvisual--single {
    height: 225px;
    width: auto;
    background-image: url(../img/cheeseburger.jpg);
    background-size: cover;
    object-position: center;
    display: flex;
    align-items: center;
    @include mq(tb) {
        height: 500px;
    }
    
}

.p-mainvisual--page {
    height: 225px;
    background-image: url(../img/shopphoto.jpg);
    background-size: cover;
    object-position: center;
    display: flex;
    align-items: center;
    @include mq(tb) {
        height: 500px;
    }

}
.p-mainvisual__title--single {
    font-size: rem(36);
    font-weight: bold;
    color: var(--secondry-fontcolor);
    margin-left: 26px;
    @include mq(tb) {
        font-size: rem(60);
        margin-left: 86px;
    }
}