.p-pictures {
    &--top {
        display: block;
        height: 130px;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        height: 124px;
        @include mq(tb) {
            height: 264px;
            }
        @include mq(pc) {
            height: 500px;
            
        }
        }
        &--bottom {
            display: block;
            width: 267px;
            height: 166px;
            margin: 30px auto;
            @include mq(tb) {
                width: 581px;
                height: 358px;
                margin: 60px auto 240px;
            }
            @include mq(pc) {
                margin: 60px auto;
            }


            
        }
        
        &__list {
            @include mq(tb) {
                column-count: 2;
            }
            @include mq(pc) {
                column-count: 3;
            }
            }
        &__item {
            display: block;
            margin-bottom: 20px;
        }
    
     
    
    
    &--flex {
        display: flex;
        justify-content: space-between;
        margin: 30px auto;
        column-gap: 20px;
        @include mq(tb) {
            margin: 60px auto;
        } 
        @include mq(pc) {
            margin: 60px auto;
        }
        &:first-of-type {
            @include mq(tb) {
                margin-bottom: 117px;
            }
            @include mq(pc) {
                margin-bottom: 0;
            }
        }
        & > img {
            display: block;
            width: 50%;
            height: 50%;
        }
        & > p {
            line-height: 1.4;
            width: 47%;
        }
    }
     
    
}





